.flex-center {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.spacex-logo {
	position: absolute;
	top: 5%;
	left: 45%;
	width: 13%;
	margin-top: 1%;
}

.info-maintop-point {
	color: #66ff00;
	text-transform: uppercase;
}

.info-maintop-link {
	color: #66ff00;
}

.info-maintop-link:link {
	color: #66ff00;
}

.info-maintop-link:visited {
	color: #66ff00;
}

.info-maintop-link:hover {
	color:#1e5284;
}

.info-maintop-link:active {
	color: #66ff00;
}


.info {
	font-size: 24px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;

	color: #fff;
	font-family: source-code-pro, monospace;
	font-weight: 300;
	font-style: normal;

	animation: letterSpacing 0.5s ease-in-out;
}

@keyframes letterSpacing {
	0% {
		letter-spacing: 150px;
		bottom: -5%;
	}

	100% {
		letter-spacing: 0;
	}
}


#info-1 {
	top: 20%;
}


#info-2 {
	top: 25%;
}

#info-3 {
	top: 30%;
}


#info-4 {
	top: 30%;
}




.info-shake {
	color: #66ff00;
}


.info-shake:hover {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #66ff00, 
                    #66ff00);
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


/*#launch-vid {
	position: absolute;
	top: 25%;
	left: 30%;
	width: 640px; 
	height: 480px;
}*/

#launch-vid {
	position: relative;
}

.launch-vid-child {
	width: 640px;
	height: 480px;
	padding: 20px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin: 200px 0 0 -340px;
}